@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

 body {
  background-color: hsl(262, 83%, 14%);
  background-image: radial-gradient(circle farthest-side at center, hsl(263, 89%, 26%) 0%, hsl(262, 83%, 14%) 100%);;
  animation: gradient-animation 5s ease infinite;

  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 2450px 2450px;

  
}

@keyframes gradient-animation {
  0% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 60% 40%;
  }
  50% {
    background-position: 50% 30%;
  }
  75% {
    background-position: 40% 40%;
  }
  100% {
    background-position: 50% 50%;
  }
}

@layer base {
  @font-face {
    font-family: 'Clash';
    font-style: regular;
    font-weight: 600;
    font-display: swap;
    src: url( ../static/fonts/ClashGrotesk-Medium.woff) format('woff');
  }
}

@layer base {
  @font-face {
    font-family: 'Clash-regular';
    font-style: regular;
    font-weight: 400;
    font-display: swap;
    src: url( ../static/fonts/ClashGrotesk-Regular.woff) format('woff');
  }
}