@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background-color: hsl(263, 89%, 26%);
  color: white;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

body::before {
  content: "";
  background-image: url('../static/assets/background.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: 100% auto;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@keyframes gradient-animation {
  0% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 60% 40%;
  }
  50% {
    background-position: 50% 30%;
  }
  75% {
    background-position: 40% 40%;
  }
  100% {
    background-position: 50% 50%;
  }
}

@layer base {
  @font-face {
    font-family: 'Clash';
    font-style: regular;
    font-weight: 600;
    font-display: swap;
    src: url( ../static/fonts/ClashGrotesk-Medium.woff) format('woff');
  }
}

@layer base {
  @font-face {
    font-family: 'Clash-regular';
    font-style: regular;
    font-weight: 400;
    font-display: swap;
    src: url( ../static/fonts/ClashGrotesk-Regular.woff) format('woff');
  }
}